# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
matplotlib   == 3.8.0
pandas       == 2.1.4
CoolProp     == 6.6.0
scipy        == 1.11.4
numpy        == 1.25.0
statsmodels  == 0.14.1
pmdarima     == 2.0.4
statistics   == 1.0.3.5
seaborn      == 0.13.0
scikit-learn == 1.4
notebook     == 7.0.5
openpyxl     == 3.1.2
